.input__contain{
  width: 100%;
}
.input__item {
  width: 100%;
  min-width: 250px;
  border: 1px solid var(--primary-color);
  border-radius: 3px;

  background-color: transparent;
  outline: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
}
.input__item::placeholder{
  color: #fff;
}