.content__box {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 25px 70px;
}

.item__title {
	font-size: 21px;
	font-weight: 700;
	text-align: center;
	color: white;
	margin-bottom: -17px;
}

.item__team {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.item__image {
	width: 100%;
	height: auto;
}
.team__text {
	font-size: 48px;
	font-weight: 700;
	color: var(--primary-color);
}

.item__parrafo {
	font-size: 11px;
	color: white;
	text-align: center;
}

@media (min-width: 768px) {
	.content__box {
		margin: 30px 180px;
	}

	.image__contain {
		width: 60px;
	}
	.item__title {
		font-size: 42px;
		color: white;
		margin-bottom: -40px;
	}

	.item__team {
		gap: 13px;
	}
	.team__text {
		font-size: 98px;
	}

	.item__parrafo {
		font-size: 16px;
	}
}

@media (min-width: 1024px) {
	.image__contain {
		width: 80px;
	}
	.item__title {
		font-size: 45px;
		color: white;
		margin-bottom: -50px;
	}

	.item__team {
		gap: 15px;
	}
	.team__text {
		font-size: 105px;
	}

	.item__parrafo {
		font-size: 20px;
	}
}

@media (min-width: 1440px) {
	.content__box {
		margin: 30px 410px;
	}
}
